* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3bfb7;
    color: #333;
    line-height: 1.6;
    padding: 40px 10%;
}

h1,
h3 {
    color: #834136;
    text-align: center;
    font-size: 1.5rem;
}

div {
    border: 2px solid #924d38;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#cadastrosal{
    background-color: #f4f4f9;;
}
#formulario {
    background-color: #f4f4f9;
}
#listaded {
    background-color: #f4f4f9;
}
#resumo {
    background-color: #f4f4f9;
}

#cadastrosal,
#formulario,
#listaded,
#resumo {
    margin: 10px 0;
}


button:hover {
    background-color: #813d34a2;
}
