* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 40px 10%; 
}


h1, h3 {
    color: #4CAF50;
    text-align: center;
    font-size: 1.5rem; 
}


#cadastrosal,
#formulario,
#listaded,
#resumo {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%; 
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto;
}


input[type="text"], input[type="date"], input[type="button"], button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="button"], button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px; 
    font-size: 1rem;
    width: auto;
    max-width: 200px;
    margin: 10px auto; 
    display: block; 
}

input[type="button"]:hover, button:hover {
    background-color: #45a049;
}


#formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


#listaded {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

ul#output {
    list-style-type: none;
}

ul#output li {
    padding: 8px;
    background-color: #f9f9f9;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #eee;
}

#resumo {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#resumo p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

